<a href="/dashboard" class='ui primary button'>< Back to Dashboard</a>
<div class='dashboard-container'>
  <div class='dashboard-content'>
    <h1>Guests</h1>

    <%= javascript_pack_tag 'guest_table' %>

  </div>
</div>


