<div class='dashboard-container'>
  <div class='dashboard-content'>
    <h1>Guests</h1>

    <div class='loan-table-container'>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Checked In</th>
          </tr>
        </thead>

        <tbody>
          <% @guests.each do |guest| %>
            <tr>
              <td><%= guest.first_name %></td>
              <td><%= guest.last_name %></td>
              <td><%= guest.checked_in %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @guests.length == 0 %>
        <div>You don't currently have any loan applications! Apply for one today.</div>
      <% end %>
    </div>
  </div>
</div>

