<div class='dashboard-container'>
  <div class='dashboard-content'>
    <h1>Guests</h1>

    <div class='loan-table-container'>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Checked In</th>
            <th>Plus One</th>
            <th>Date Created</th>
          </tr>
        </thead>

        <tbody>
          <% @guests.each do |guest| %>
            <tr>
              <td><%= guest.name %></td>
              <td><%= guest.checked_in %></td>
              <td><%= guest.plusone %></td>
              <td><%= guest.created_at.in_time_zone('America/New_York').strftime('%m/%d/%Y %l:%M%p') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @guests.length == 0 %>
        <div>No guests yet.</div>
      <% end %>
    </div>
  </div>
</div>

