<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->
<div class='sponsor-container'>
  <span>CS:GO KeyBank is partners with E-Blue, "Creators of the Best Wireless Gaming Mouses" by PC Gamer.</span>
  <a href='http://www.e-blue.jp' target='_blank'><img class='eblue' src='/eblue.jpg'/></a>
</div>
<div class='hero-container home-container'>
  <div class='right-diag'>
    <div class='right-diag-title'>The easiest way to safely and securely borrow in CS:GO.</div>
    <div class='right-diag-desc'>CS:GO KeyBank facilitates virtual loans within the Steam marketplace. Through our platform, borrowers can receive up to 2,500 keys.</div>
  </div>
</div>

<div class='detail-container light'>
  <div class='home-box1-blurb1'>Borrow up to 2,500 keys!</div>
  <div class='home-box1-blurb2'>CS:GO KeyBank is the largest key lending marketplace connecting borrowers to key traders. Apply for our key loans by filling out our quick application and receive a response within a day. Once we approve your application, we will send keys to your account in Steam. Our friendly customer service team is here to assist with any of your needs.</div>
  <div class='home-box2-right-title'>Simple and transparent pricing.</div>
    <div class='home-box2-right-table'>
      <div class='home-box2-right-table-row'>
        <div class='home-box2-right-table-row-half'>All Key Amounts</div>
        <div class='home-box2-right-table-row-half'>1% per day</div>
      </div>
    </div>

  <a class='btn btn-success cta cta-dark-visit' href='/signin'>Get Keys Today!</a>
</div>

<div class='how-loan-container'>
  <div class='how-loan-blurb1'>How a key loan works</div>
  <div class='work-items-container'>
    <div class='work-item-container'>
      <div class='work-item-logo-container'>
        <img class='work-item-logo' src="Steam_Temp.png">
      </div>
      <div class='work-item-info-container teal1'>
        <div class='work-item-info-title'>
          Sign into Steam
        </div>
        <div class='work-item-info-desc'>
          Sign in at the top of the front page
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-logo-container'>
        <img class='work-item-logo' src="Quick_App.png">
      </div>
      <div class='work-item-info-container teal2'>
        <div class='work-item-info-title'>
          Quick Application
        </div>
        <div class='work-item-info-desc'>
          Complete a quick online application after clicking “Get Keys Today!”
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-logo-container'>
        <img class='work-item-logo' src="Instant_Decision.png">
      </div>
      <div class='work-item-info-container teal3'>
        <div class='work-item-info-title'>
          Instant Decision
        </div>
        <div class='work-item-info-desc'>
          Our specialists will quickly assess your account and assign you a reasonable rate. This will take less than an hour.
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-logo-container'>
        <img class='work-item-logo' src="shop.png">
      </div>
      <div class='work-item-info-container teal4'>
        <div class='work-item-info-title'>
          Get Your Keys
        </div>
        <div class='work-item-info-desc'>
          Once you agree to our Terms of Agreement, we will send keys to your account in Steam
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-logo-container'>
        <img class='work-item-logo' src="Check_Dashboard.png">
      </div>
      <div class='work-item-info-container teal5'>
        <div class='work-item-info-title'>
          Check your dashboard
        </div>
        <div class='work-item-info-desc'>
          Follow the progress of your loan in your personal dashboard
        </div>
      </div>
    </div>
  </div>
</div>

<div class='cta-item-container'>
  <div class='left-diag'>
    <div>
      <a class='btn btn-success cta white' href='/signin'>Get Keys Today!</a>
    </div>

    <div class='cta-item-blurb1'>We help casual gamers to Steam traders every day with
their in-game financial goals. Try us today, no obligations.</div>
    <div class='cta-item-blurb2'>Get your questions answered by visiting our FAQ or talk to
our dedicated customer service team.</div>
  </div>
</div>

<footer>
  <div class='footer-section'>CS:GO key experts dedicated to serving you!</div>
  <div class='footer-section'>Chat with us online today - we are here to answer any questions you may have!</div>
  <div class='rights'>© 2017 CS:GO KeyBank. All Rights Reserved.</div>
</footer>
