<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

<div class='detail-container'>
  <img class='logo-pink' src="Logo_black.png">
  <div class="main-panel-title-1">Your Dedicated Promoter,</div>
  <div class="main-panel-title-2">Every Week.</div>
  <div class="main-panel-title-3">Go out by paying less instantly. Bring your friends, get paid. It's that easy. <span class='title-accent'>Your night belongs to you.</span class='title-accent'></div>
  <div class='main-panel-footer'>
    <div class='main-panel-footer-social'>
      <img class='main-panel-footer-social-logo' src="fb.png">
      <img class='main-panel-footer-social-logo' src="twitter.png">
      <img class='main-panel-footer-social-logo' src="insta.png">
      <img class='main-panel-footer-social-logo' src="snap.png">
    </div>
    <div class='main-panel-footer-sponsors'>
      <img class='main-panel-footer-sponsor-logo-whisky' src="whisky.png">
      <img class='main-panel-footer-social-logo' src="sky.png">
      <img class='main-panel-footer-social-logo' src="vapegoons.png">
    </div>
  </div>
</div>

<div class="slide-container-border">
  <div class='slide-container'>
    <div class='slide-title'>Become a Host</div>
    <div class='slide-subtitle'>As a host, earn $5 per person, guaranteed!</div>
    <div class='slide-content'>
      <div class="slide-content-left">
        <div>
          How it works... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        </div>
        <div>
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="slide-content-right">
        <div class="hexagon-row">
          <div class="hexagon-container">
            <div class="hexagon">
              <img class="hexagon-icon" src="SignUp_White.png">
              <div class="hexagon-info">
                Sign up as a host
              </div>
            </div>
          </div>
          <div class="hexagon-container">
            <div class="hexagon">
              <img class="hexagon-icon hexagon-code-icon" src="Code_White.png">
              <div class="hexagon-info">
                Receive unique referral code
              </div>
            </div>
          </div>
        </div>
        <div class="hexagon-row">
          <div class="hexagon-container">
            <div class="hexagon">
              <img class="hexagon-icon" src="Friends_White.png">
              <div class="hexagon-info">Tell your friends to use the code at the door. They get $5 off</div>
            </div>
          </div>
          <div class="hexagon-container">
            <div class="hexagon">
              <img class="hexagon-icon" src="Earn_White.png">
              <div class="hexagon-info">Earn $5 per person who uses your code</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slide-container-border">
  <div class='slide-container'>
    <div class='slide-title'>Pay Less Tonight</div>
    <div class='slide-subtitle'>
      Pay $10 instead of $15 by mentioning the code below at the door. Share this code with your friends, they get $5 off too!
    </div>
    <div class='slide-content'>
      <div class="slide-content-left">
        <div class="current-promotion">
          <div class="current-club">Whisky Saigon</div>
          <div class="current-code-container">
            <div class="current-code">Code: GIO-0705</div>
          </div>
        </div>
        <span class="valid-date">This code is valid until Friday, July 7, 2017</span>

        <div class="snapchat-container">
          <img class="snapchat-add" src="snap_add.png">
          <div class="snapchat-steps">
            <ol class="snapchat-bullets">
              <li>Add us on Snapchat</li>
              <li>Snap us your full name</li>
              <li>Mention your name at the door</li>
              <li>Save $5 at the door!</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="slide-content-right">
      <input class="pay-less-signup" type="text" placeholder='ENTER YOUR FULL NAME...'>
      <div class="guest-container">
        <div>GUEST LISTS</div>
        <ul>
          <li>
            <div>Thursday</div>
            <div>Whiskey Saigon</div>
          </li>
          <li>
            <div>Friday</div>
            <div>Club Envy</div>
          </li>
          <li>
            <div>Saturday</div>
            <div>Wonder Bar</div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class='footer-section'>CS:GO key experts dedicated to serving you!</div>
  <div class='footer-section'>Chat with us online today - we are here to answer any questions you may have!</div>
  <div class='rights'>© 2017 CS:GO KeyBank. All Rights Reserved.</div>
</footer>
