<div class='hero-container faq-container'>
  <div class='right-diag faq-right-diag'>
    <div class='right-diag-title faq-right-diag-title'>FAQ</div>
    <div class='right-diag-desc faq-right-diag-desc'>We're here for you</div>
  </div>
</div>

<div class='faq-questions'>
  <div class='left-faq'>
    <h1 class='faq-header'>General Questions:</h1>
    <div class='faq-section'>
      <div class='faq-section-title'>What are Keys?</div>
      <div>Keys are digital downloadable game content that can be used and traded within Steam, a virtual gaming platform.</div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How many keys can I borrow?</div>
      <div>Depending on your reputation, we can allow you to borrow from 50 keys up to 2000 keys for up to one week based on your collateral and CashRep.</div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How do you calculate the interest rates?</div>
      <div>We calculate all payments based on the date that you receive the keys. For example, if you were to borrow 100 keys, you would be responsible for returning 101 keys if you chose the end of the 24-hour period.</div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>Does CSGO Key Bank provide real loans?</div>
      <div>No. All of our loans are in “keys,” which are digital downloadable game content. Additionally, our key loans fully exist within the virtual gaming economy of Steam. We will not and do not engage in real-world lending. </div>
    </div>

    <h1 class='faq-header'>Key Loan Application:</h1>
    <div class='faq-section'>
      <div class='faq-section-title'>What information do I need to provide for a key loan?</div>
      <div>The application requires basic personal information (Legal name, phone number, and email) and Steam account information (Username, CashRep link). You will also need to answer a series of questions related to your key loan. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How does the approval process start?</div>
      <div>After you submit your application, our specialists will examine your Steam reputation and CashRep to ensure that you are trustworthy and that you have enough collateral to fulfill the trade. Depending on volume, the review process shouldn’t take more than an hour. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How should I choose my loan amount?</div>
      <div>There’s a section in the application that asks you to put down a loan amount. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How should I choose the loan length?</div>
      <div>There’s a section in the application that asks you to put down the loan length. Just choose a repayment date that works best for you. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How will I know if my application is approved?</div>
      <div>Once you login to Steam and submit your application, you can review your application status on our dashboard. If you application is approved, we will also notify you directly either by text or email. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How long does it take to get approved?</div>
      <div>Usually depending on the volume of traffic, we try to finish the entire loan approval process within an hour, but the time frame varies depending on market conditions. </div>
    </div>
  </div>
  <div class='right-faq'>
    <h1 class='faq-header'>After Approving Your Key Loan Application:</h1>
    <div class='faq-section'>
      <div class='faq-section-title'>How will I get my key loan?</div>
      <div>Once you’ve agreed to our terms, we will send you a Steam trade with the keys. In return, we expect collateral. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>What collateral is acceptable?</div>
      <div>Generally, we will require between 80-120% collateral based on the amount you are borrowing. In order to offer this service at the best price, we will need to ensure that you don’t have bad debt. For example, if you are borrowing 100 keys, you will need to put up $250 worth of items as collateral, which will be returned when you payback your key loan. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>What happens if I don’t return my keys on time or I require an extension?</div>
      <div>If you require an extension on the keys, simply go to your account and request a time extension. The new rate will automatically be calculated, and you will be responsible for another 24-hour period. If you do not extend pass your expiration date, we will assess a late fee equal to a 24-hour period for every day that you are late. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>What happens if I do not pay back my loan?</div>
      <div>We’ve partnered with Steamrep to ensure that the marketplace for key lending is both convenient and safe for our users. Borrowers who try to take advantage of the system will be reported to Steamrep and will receive a permanent negative rep on Steamrep and their cash thread, alerting others of their fraudulent activities. We will also ban you from our platform. Lastly, we will claim ownership of your collateral. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>Can I return a partial amount of keys?</div>
      <div>Yes. You can return part of the loan early – we will only calculate it based on how many keys outstanding you are borrowing for each day. For example, if you had borrowed 1000 keys and returned 500 keys after the first day, you will only be responsible for the interest on 1000 keys on Day 1. On Day 2 you would only have 500 keys outstanding, so you will only pay interest on that. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>Can I apply for another key loan?</div>
      <div>Absolutely. In fact, we will give you a better deal on your next key loan. Just got into your dashboard to request another key loan. </div>
    </div>
    <h1 class='faq-header'>Paying Back Your Key Loan:</h1>
    <div class='faq-section'>
      <div class='faq-section-title'>How do I pay back the key loan?</div>
      <div>On the day your key loan is due, direct trade the payback amount with the interest to our designated Steam account, and in return, we will send back your collateral. What if I encounter issues while sending the trade? While all of our payback periods are time sensitive, we understand that issues may arise – just contact our customer service, and they will assess your situation. </div>
    </div>
    <h1 class='faq-header'>Privacy and Security:</h1>
    <div class='faq-section'>
      <div class='faq-section-title'>Is CSGO Key Bank a legitimate website?</div>
      <div>Behind CSGO Key Bank, we are a talented team of software engineers and young entrepreneurs that strives to provide the best key lending experience for everyday Steam traders and gamers. Every aspect of this website is carefully crafted to the needs of everyday Steam users – our goal is to ensure that CSGO Key Bank is the most reliable and secure source for key lending in Steam. </div>
    </div>
    <div class='faq-section'>
      <div class='faq-section-title'>How do I know if CSGO Key Bank is safe?</div>
      <div>Our platform doesn’t require your credit card, social security, and other sensitive personal information. We have a secure barrier between Steam and our website to minimize any risks of fraud and scams.</div>
    </div>
  </div>
</div>

<footer>
  <div class='footer-section'>CS:GO key experts dedicated to serving you!</div>
  <div class='footer-section'>Chat with us online today - we are here to answer any questions you may have!</div>
  <div class='rights'>© 2017 CS:GO KeyBank. All Rights Reserved.</div>
</footer>
