<div class='hero-container partner-container'>
  <div class='right-diag partner-right-diag'>
    <div class='right-diag-title partner-right-diag-title'>PARTNER WITH US</div>
    <div class='right-diag-desc partner-right-diag-desc'>Let's work together</div>
  </div>
</div>

<div class='partner-reason'>
  <div class='partner-reason-item'>
    <div class='partner-reason-blurb'>SOLID KEY RATES</div>
  </div>
  <div class='partner-reason-item'>
    <div class='partner-reason-blurb'>LOW KEY VOLATILITY</div>
  </div>
  <div class='partner-reason-item'>
    <div class='partner-reason-blurb'>GUARANTEED</div>
  </div>
</div>

<div class='how-loan-container how-partner-container'>
  <div class='how-loan-blurb1 how-partner-blurb1'>How it works</div>
  <div class='work-items-container'>
    <div class='work-item-container t'>
      <div class='work-item-info-container how-partner-info-container teal1'>
        <div class='work-item-info-title how-partner-info-title'>
          Partner with Us
        </div>
        <div class='work-item-info-desc how-partner-info-desc'>
          Have a lot of keys? Open up an account and sell keys directly to us
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-info-container how-partner-info-container teal3'>
        <div class='work-item-info-title how-partner-info-title'>
          Submit Application
        </div>
        <div class='work-item-info-desc how-partner-info-desc'>
          Once you submit your application, our team will determine if your account is in good standing
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-info-container how-partner-info-container teal5'>
        <div class='work-item-info-title how-partner-info-title'>
          Get Excellent Rates
        </div>
        <div class='work-item-info-desc how-partner-info-desc'>
          Once you're approved, we'll buy keys from you at excellent rates
        </div>
      </div>
    </div>
  </div>
</div>

<div class='cta-partner-container '>
  <div class='left-diag why-left-diag'>
    <div class='home-box1-blurb1 why-blurb-1'>Diversify your key holdings</div>
    <div class='home-box1-blurb2 why-blurb-2'>We'll buy keys from you at an excellent rate - that simple. Contact us today at csgokeybank@gmail.com to start selling!</div>
  </div>
</div>

<div class='partner-reason referral-points-container'>
  <div class='partner-reason-item referral-item'>
    <div class='partner-reason-blurb referral-blurb'>Earn points to earn keys by simply referring your friends to this website. No gambling, no deposit.</div>
    <div class='partner-reason-blurb referral-blurb'>Just pass on your referral link in your dashboard today!</div>
  </div>
</div>

<footer>
  <div class='footer-section'>CS:GO key experts dedicated to serving you!</div>
  <div class='footer-section'>Chat with us online today - we are here to answer any questions you may have!</div>
  <div class='rights'>© 2017 CS:GO KeyBank. All Rights Reserved.</div>
</footer>
