<div class='hero-container why-home-container'>
  <div class='right-diag why-right-diag'>
    <div class='right-diag-title why-right-diag-title'>WHY US?</div>
    <div class='right-diag-desc why-right-diag-desc'>Focused first on our customers</div>
  </div>
</div>

<div class='how-loan-container why-reason-container'>
  <div class='work-items-container'>
    <div class='work-item-container'>
      <div class='work-item-info-container why-reason-info-container'>
        <div class='work-item-info-desc'>
          At the very core, we are young professionals who play CS:GO and trade in Steam competitively.
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-info-container why-reason-info-container'>
        <div class='work-item-info-desc'>
          After years trading in Steam, we were tired of seeing everyday gamers get scammed or ripped off in each trade.
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-info-container why-reason-info-container'>
        <div class='work-item-info-desc'>
          We believe that every gamer in Steam should get an equal opportunity to participate in a safe and secure marketplace.
        </div>
      </div>
    </div>

    <div class='work-item-container'>
      <div class='work-item-info-container why-reason-info-container'>
        <div class='work-item-info-desc'>
          At CSGO KeyBank, we pioneered a safe and reliable key lending platform to make trading for gamers more affordable.
        </div>
      </div>
    </div>
  </div>
</div>

<div class='cta-why-container'>
  <div class='left-diag why-left-diag'>
    <div class='home-box1-blurb1 why-blurb-1'>Our Mission:</div>
    <div class='home-box1-blurb2 why-blurb-2'>We created CSGO KeyBank to bring affordable personal financing to Steam and to deliver an exceptional experience to gamers who need financing in keys. Try our transparent, empowering, and transformative platform today.</div>

    <div>
      <a class='btn btn-success cta white why-cta' href='/signin'>Get Keys Today!</a>
    </div>
  </div>
</div>

<footer>
  <div class='footer-section'>CS:GO key experts dedicated to serving you!</div>
  <div class='footer-section'>Chat with us online today - we are here to answer any questions you may have!</div>
  <div class='rights'>© 2017 CS:GO KeyBank. All Rights Reserved.</div>
</footer>
