// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Condensed:bold|Roboto+Condensed:light');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$screen: "only screen";

$gray: #646F7A;
$dark-gray: #383D42;
$light-gray: #B1BAC7;
$black: #231F20;
$blue: #0A397A;
$light-blue: #027DB8;
$tan: #C7BFB1;
$green: #067A41;

$teal1: #067A4A;
$teal2: #057B62;
$teal3: #047B78;
$teal4: #037C8E;
$teal5: #027DA4;

.teal1 {
  background: $teal1 !important;
}

.teal2 {
  background: $teal2 !important;
}

.teal3 {
  background: $teal3 !important;
}

.teal4 {
  background: $teal4 !important;
}

.teal5 {
  background: $teal5 !important;
}

.collateral-blurb {
  font-size: 12px;
}

.collateral-button {
  margin: 20px 10px;
  display: block;
  border-radius: 0px;
}

.collateral-amount {
  width: 50%;
  margin: 15px 0px;
}

.collateral-calculator {
  margin: 15px 0px;
}

.collateral-result-container {
  display: flex;
}

.collateral-result {
  margin-left: 5px;
}


.sponsor-container {
  background-color: #1B191A;
  display: flex;
  align-items: center;
  justify-content: center;

  .eblue {
    width: 200px;
  }
}


.header-logo {
  width: 250px;
  margin: 0 30px;
}

.header-logo-link:hover {
  background-color: transparent;
}

.right-diag {
  border-bottom: 400px solid $gray;
  border-right: 150px solid transparent;
  height: 0;
  width: 50%;

  display: flex;
  flex-direction: column;

  .right-diag-title {
    margin-top: 90px;
    margin-left: 30px;
    font-size: 50px;
    width: 90%;
    line-height: 60px;
  }
  .right-diag-desc {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    width: 90%;
    line-height: 25px;
    font-weight: 300;
  }
}

.left-diag {
  border-bottom: 400px solid $gray;
  border-left: 100px solid transparent;
  height: 0;
  width: 50%;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-inverse {
  background-color: black;

  .navbar-nav {
    margin-right: 50px;
    float: right;
  }

  .navbar-nav > li > a {
    color: white;
    font-size: 25px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.new-guest-button {
  margin-top: 20px !important;
  background-color: #CA278F !important;

  &.disabled {
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
  }
}

// make all images responsive by default
// img {
//   @extend .img-responsive;
//   margin: 0 auto;
//   }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  width: 100%;
  padding-top: 75px;
  // margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

main {
  padding-left: 0px;
  padding-right: 0px;
}

.hero-container {
  display: flex;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  justify-content: center;
  color: white;
  font-family: 'Avenir Next';
  flex-direction: column;
}

.home-container {
  background-image: url("../Home_Header.jpg");
}

.how-container {
  background-image: url("../how_background.png");
}

.why-container {
  background-image: url("../why_background.png");
}

.partner-container {
  background-image: url("../partner_background.png");
}

.why-item-container {
  margin: 30px 0px;
}

.detail-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../lights.jpg");
  display: flex;
  flex-direction: column;
  padding: 10px 40px;

  line-height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-pink {
  height: 170px;
  margin-left: auto;
  margin-top: 10px;
  padding-right: 30px;
}

.main-panel-title-1 {
  text-transform: uppercase;
  font-size: 60px;
}

.main-panel-title-2 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 80px;
}

.main-panel-title-3 {
  font-size: 30px;
  width: 65%;
}

.title-accent {
  color: #FF00E3;
}

.main-panel-footer {
  display: flex;
  margin-top: 80px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.footer-social {
  .social-item-white:hover {
    background-color: white;
  }
}

.main-panel-footer-social-logo {
  height: 40px;
  padding-right: 15px;
}

.main-panel-footer-sponsor-logo-whisky {
  height: 30px;
  margin-right: 30px;
}

.main-panel-footer-sponsor-logo-sky {
  height: 50px;
  margin-right: 30px;
}

.main-panel-footer-sponsor-logo-vapegoons {
  height: 30px;
  margin-right: 30px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.slide-container-border {
  padding-top: 5px;
  background-image:
    linear-gradient(
      to right,
      #902d8d,
      #694d91,
      #387a96,
      #1AA79C
    );
}
.slide-container {
  background-color: white;
  padding: 10px 40px;
  color: black;
}

.slide-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #CA278F;
  font-size: 40px;
  padding: 20px 0px;
  border-bottom: 3px solid #ddd;
}

.slide-subtitle {
  font-size: 24px;
  margin: 10px 0px;
  line-height: 30px;
}

.slide-content {
  display: flex;
}

.slide-content-vert {
  flex-direction: column;
}

.slide-content-left {
  flex: 3;
  padding-right: 60px;
  font-size: 18px;

  & > div {
    margin: 15px 0px;
  }
}

.slide-content-right {
  flex: 2;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

.align-right {
  align-items: flex-end;
}

.hexagon-row {
  display: flex;
  margin-top: 50px;
}
.hexagon-container {
  width: 180px;
  height: 140px;
}
.hexagon {
  width: 150px;
  height: 90px;
  background: black;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -37px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 37px solid black;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -37px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 37px solid black;
}
.hexagon-icon {
  width: 40px;
  position: absolute;
  top: -27px;
  left: 55px;
}
.hexagon-code-icon {
  top: -20px;
}
.hexagon-info {
  color: white;
  text-align: center;
  padding: 25px 5px 0px 5px;
}

.current-promotion {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.current-club {
  color: #CA278F;
  font-size: 25px;
  margin-right: 15px;
}
.current-code {
  background-color: #bbb;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 20px 20px;
}
.valid-date {
  font-size: 12px;
}

.snapchat-container {
  display: flex;
  align-items: center;
}
.snapchat-add {
  width: 100px;
  height: 100px;
}
.snapchat-bullets {
  line-height: 24px;
  margin: 5px;
}

.pay-less-signup {
  margin-top: 20px;
  font-size: 30px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 400px;

  &:focus {
    outline: none;
  }
}

.guest-container {
  margin-top: 30px;
}

.guest-title {
  font-size: 30px;
  font-weight: bold;
}

.guest-venues {
  margin-top: 10px;
  -webkit-padding-start: 10px;
}

.guest-venue-item {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;

  div:first-child {
    text-transform: uppercase;
  }
}

.contact-social {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;

  a:hover {
    background-color: white;
  }
}

.cta-item-container {
  @extend .hero-container;
  background-image: url("../HomePage_Footer.jpg");
  background-position: left bottom;

  .cta-item-blurb1 {
    margin: 30px 30px;
    font-size: 25px;
    line-height: 30px;
  }

  .cta-item-blurb2 {
    margin: 0px 30px;
    font-size: 25px;
    line-height: 30px;
  }
}

.cta-why-container {
  @extend .hero-container;
  background-image: url("../WhyUs_Footer.jpg");
  background-position: left top;
  background-size: contain;

  .why-left-diag {
    width: 70%;
    border-bottom: 450px solid $light-blue;
  }

  .why-blurb-1 {
    margin-top: 25px;
    color: white;
    border-bottom: 3px solid white;
  }

  .why-blurb-2 {
    width: 90%;
    color: white;
    font-size: 25px;
    padding: 40px 0px;
  }

  .why-cta {
    margin-top: 0px;
    border: 3px solid white;
  }
}

.why-home-container {
  background-image: url("../WhyUs_Header.jpg");
  background-position: 50% 75%;
  background-size: cover;

  .why-right-diag {
    border-bottom: 350px solid $light-blue;

    .why-right-diag-title {
      font-size: 60px;
      font-weight: bold;
      margin-top: 150px;
    }

    .why-right-diag-desc {
      font-size: 35px;
      width: 500px;
      color: $black;
    }
  }
}

.cta-partner-container {
  @extend .hero-container;
  background-image: url("../PartnerWithUs_Footer.jpg");
  background-position: left top;
  background-size: contain;

  .why-left-diag {
    width: 75%;
    border-bottom: 350px solid $tan;
  }

  .why-blurb-1 {
    margin-top: 70px;
    border-bottom: 3px solid $light-blue;
  }

  .why-blurb-2 {
    width: 90%;
    font-size: 25px;
    padding: 40px 0px;
    text-align: center;
  }

  .why-cta {
    margin-top: 0px;
    border: 3px solid white;
  }
}

.faq-container {
  background-image: url("../FAQ_Header.jpg");
  background-position: 50% 75%;
  background-size: cover;

  .faq-right-diag {
    border-bottom: 350px solid $blue;

    .faq-right-diag-title {
      font-size: 150px;
      margin-left: 60px;
      font-weight: bold;
      margin-top: 140px;
    }

    .faq-right-diag-desc {
      font-size: 35px;
      width: 500px;
      color: $light-gray;
      margin-top: 60px;
      margin-left: 65px;
      font-weight: 500;
    }
  }
}

.faq-questions {
  background-color: white;
  color: black;
  display: flex;
  padding: 20px 0px;

  .left-faq, .right-faq {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .faq-header {
    padding: 10px 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
  }

  .faq-section {
    padding: 10px 50px;
    font-weight: 300;
    font-size: 17px;

    .faq-section-title {
      font-size: 25px;
      padding: 3px 0px;
    }
  }
}

.partner-container {
  background-image: url("../PartnerWithUs_Header.jpg");
  background-position: -4% 20%;
  background-size: initial;

  .partner-right-diag {
    border-bottom: 350px solid $tan;

    .partner-right-diag-title {
      font-size: 80px;
      line-height: 90px;
      margin-left: 60px;
      font-weight: bold;
      margin-top: 80px;
    }

    .partner-right-diag-desc {
      font-size: 35px;
      width: 500px;
      color: black;
      margin-top: 25px;
      margin-left: 65px;
      font-weight: 500;
    }
  }
}

.partner-reason {
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: 20% 20%;
  background-image: url("../PartnerWithUs_Section1.jpg");

  .partner-reason-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 160px 50px;

    .partner-reason-blurb {
      font-size: 60px;
      line-height: 60px;
      font-weight: 800;
      border-bottom: 3px solid $light-blue;
    }
  }
}

.referral-points-container {
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: 20% 20%;
  background-image: url("../referral.jpg");

  .referral-item {
    display: flex;
    flex-direction: column;
    padding: 80px 50px;

    .referral-blurb {
      border-bottom: 0px;
      font-size: 52px;
      margin: 20px 0px;
    }
  }
}

.home-box1-blurb1 {
  color: $black;
  font-size: 40px;
  padding: 20px 0px;
  border-bottom: 3px solid $light-blue;
}

.how-loan-blurb1 {
  color: white;
  @extend .home-box1-blurb1;
}

.work-items-container {
  display: flex;
  width: 100%;
  justify-content: space-around;

  .work-item-container {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;

    .work-item-logo-container {
      padding: 30px 0px;

      .work-item-logo {
        height: 50px;
        width: 50px;
      }
    }

    .work-item-info-container {
      width: 200px;
      height: 200px;
      font-weight: 800;
      background: red;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .work-item-info-title {
        font-size: 20px;
        margin-top: 25px;
        width: 150px;
        text-align: center;
        line-height: 25px;
      }

      .work-item-info-desc {
        margin-top: 10px;
        width: 170px;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }
}

.why-reason-container {
  background-image: url("../WhyUs_Section1.jpg");

  .work-item-container {

    .why-reason-info-container {
      background: $gray;
      display: flex;
      justify-content: center;
    }
  }
}

.how-partner-container {
  background: white;

  .how-partner-blurb1 {
    color: black;
    margin-bottom: 40px;
  }

  .work-items-container {
    .work-item-container {
      .how-partner-info-container {
        width: 300px;
        height: 300px;
        border-radius: 150px;
      }

      .how-partner-info-title {
        font-size: 20px;
        margin-top: 50px;
        width: 250px;
        line-height: 25px;
        font-weight: bold;
      }

      .how-partner-info-desc {
        margin-top: 36px;
        width: 250px;
        line-height: 26px;
        font-size: 20px;
      }
    }
  }
}


.home-box1-blurb2 {
  color: $black;
  width: 80%;
  font-size: 30px;
  line-height: 40px;
  padding: 20px 0px;
}

.home-box2 {
  flex-direction: row;
  align-items: flex-start;
}

.home-box2-left {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.home-box2-left-item {
  display: flex;
  align-items: center;
  margin-left: 80px;

  img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
  }

  &:not(:last-child):not(:first-child) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.home-box2-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  width: 100%;
}

.home-box2-right-title {
  color: $black;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 30px;
  font-weight: 800;
}

.home-box2-right-table {
  color: $black;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px;
  max-width: 500px;
  font-weight: 800;
  font-size: 28px;
}

.home-box2-right-table-row {
  display: flex;
  border-top: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
}

.home-box2-right-table-row-half {
  padding: 10px 20px;
  flex: 1;

  &:first-child {
    border-right: 2px solid $black;
  }
}

.home-box3-title {
  font-size: 20px;
  max-width: 450px;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.how-box1 {
  padding: 0px 10px;
}

.why-box1-item {
  max-width: 600px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 10px;
  }
}

.partner-box1-title {
  font-size: 25px;
  line-height: 30px;
}

.partner-box1-image {
  margin-top: 20px;
}

.partner-box1-blurb {
  max-width: 500px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.why-box1-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .rocket {
    height: 30px;
    width: 30px;
  }

  .circle {
    height: 15px;
    width: 15px;
  }
}

.why-box1-timelineitem {
  width: 300px;
  position: absolute;
  font-size: 15px;
  text-align: left;

  &.timelineitem-one {
    right: 60px;
    top: -10px;
  }

  &.timelineitem-two {
    left: 80px;
    top: 110px;
  }

  &.timelineitem-three {
    right: 90px;
    top: 225px;
  }

  &.timelineitem-four {
    left: 80px;
    top: 340px;
  }
}

.why-box1-mission {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 600px;
  border: 1px solid #e1e2e6;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.why-box1-mission-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.vertical-line {
  height: 80px;
  border: 1px solid #e1e2e6;
  margin: 10px 0px;
}

.green {
  background: rgba(106,188,100,0.42);
}

.facebook-login {
  width: 230px;
  position: absolute;
  top: 7px;
}

.fb-container {
  position: relative;
  width: 300px;
  height: 50px;

  a {
    height: 50px;
  }
}

.cta {
  margin-top: 50px;
  border-radius: 0;
  border: 3px solid $light-blue;
  font-size: 35px;
  padding: 10px 30px;
  background-color : transparent;
  color: $black;

  &:visited {
    color: white;
  }
}

.cta-dark-visit {
  &:visited {
    color: $black;
  }
}

.instagram {
  width: 42px !important;
  height: 42px !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  text-align: center;
  background-color: $dark-gray;

  .footer-section {
    font-size: 20px;
    margin: 20px 0px;
  }
}

.media-row {
  margin: 20px 0px;

  img {
    margin: 0px 6px;
    width: 40px;
    height: 40px;
  }
}

.rights {
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}

.dark {
  background-color: #fcfcfc;
}

.light {
  background-color: #ffffff;
}

.white {
  color: white;
}

// // phones
// @media (max-width:768px) {
//   body {
//     margin: 0px;
//   }

//   .hero-container {
//     height: 200px;
//     font-size: 15px;

//     div {
//       margin-top: 10px;
//     }
//   }

//   .home-box1-blurb1 {
//     font-size: 20px;
//   }

//   .home-box1-blurb2 {
//     width: 300px;
//   }

//   .home-box3-title {
//     font-size: 15px;
//   }

//   .why-box1 {
//     padding-bottom: 20px;
//   }

//   .vertical-line {
//     height: 40px;
//     margin: 80px 0px 10px 0px;
//   }

//   .why-box1-timelineitem {
//     font-size: 12px;
//     width: 250px;
//     text-align: center;

//     &.timelineitem-one {
//       right: -110px;
//       top: 50px;
//     }

//     &.timelineitem-two {
//       left: -110px;
//       top: 190px;
//     }

//     &.timelineitem-three {
//       right: -110px;
//       top: 330px;
//     }

//     &.timelineitem-four {
//       left: -110px;
//       top: 475px;
//     }
//   }

//   .why-box1-mission {
//     margin-top: 100px;
//     margin-bottom: 20px;
//   }

//   .cta {
//     font-size: 20px;
//     margin: 5px;
//   }

//   .home-box2 {
//     flex-direction: column;
//     align-items: center;
//   }

//   .home-box2-left-item {
//     margin-left: 0px;
//   }

//   .home-box2-right {
//     margin-top: 40px;
//   }
// }

// // tablets
// @media (min-width:769px) and (max-width:1024px) {
//   .hero-container {
//     height: 250px;
//     font-size: 20px;

//     div {
//       margin-top: 20px;
//     }
//   }

//   .home-box2 {
//     flex-direction: column;
//     align-items: center;
//   }

//   .home-box2-left-item {
//     margin-left: 0px;
//   }

//   .home-box2-right {
//     margin-top: 40px;
//   }
// }

// // comps
// @media (min-width:1025px) {
//   .hero-container {
//     height: 315px;
//     font-size: 30px;

//     div {
//       margin-top: 30px;
//     }
//   }

//   main {
//     max-width: 1025px;
//   }
// }
