.social-dashboard-back {
  margin-top: 50px;
}

.event-sharing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-event-button {
  margin-top: 30px;
}

.fb-share-button {
  width: 170px;
  cursor: pointer;
  margin-bottom: 20px;
}
