<% if user_signed_in? %>
  <li><%= link_to 'SIGNOUT', signout_path, { :class => "nav-title-item" } %></li>
<% else %>
  <li class='fb-container'>
    <%= link_to image_tag("/facebook_login.png", border: 0, class: "facebook-login"), {action: 'new', controller: 'sessions'} %>
  </li>
<% end %>

