<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'DASHBOARD', dashboard_path %></li>
<% end %>
<li><%= link_to 'WHY US?', why_path %></li>
<li><%= link_to 'PARTNER WITH US', partner_path %></li>
<li><%= link_to 'FAQ', faq_path %></li>
